{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to what is the awarding organisation",
  href: "/current/r14/q4"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="post-search-results" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-10">
        Check your answers
      </h1>

      <dl style="margin-top: 30px" class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt style="width: 60%;" class="govuk-summary-list__key">
            Where was the qualification awarded?
          </dt>
          <dd style="text-align: left; width: 30%;" class="govuk-summary-list__value">
            {{data['awarding-location']}}
          </dd>
          <dd style="width: 10%;" class="govuk-summary-list__actions">
            <a class="govuk-link" href="q1">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt style="width: 60%;" class="govuk-summary-list__key">
            When was the qualification started and awarded?
          </dt>
          <dd style="text-align: left; width: 30%;" class="govuk-summary-list__value">
            {{data['date started']}} <br>
            {{data['date awarded']}}
          </dd>
          <dd style="width: 10%;" class="govuk-summary-list__actions">
            <a class="govuk-link" href="q2">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt style="width: 60%;" class="govuk-summary-list__key">
            What level is the qualification?
          </dt>
          <dd style="text-align: left; width: 30%;"  class="govuk-summary-list__value">
            Level {{data['qualification-level']}}
          </dd>
          <dd style="width: 10%;" class="govuk-summary-list__actions">
            <a class="govuk-link" href="q3">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt cstyle="width: 60%;" class="govuk-summary-list__key">
            What is the awarding organisation?
          </dt>
          <dd style="text-align: left; width: 30%;"  class="govuk-summary-list__value">
            {{data['awarding-organisation']}}
          </dd>
          <dd style="width: 10%;" class="govuk-summary-list__actions">
            <a class="govuk-link" href="q4">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
