{% extends "layouts/dfe-main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl gem-c-title__context">
       Early years qualifications list
      </span>

      <h1 class="govuk-heading-xl">
        The qualification I am looking for is not on the list
      </h1>

      <div class="govuk-inset-text">
        If a qualification is not on the early years qualifications list (EYQL), it cannot be considered approved as full and relevant by the Department for Education (DfE).
      </div>

      <h2 class="govuk-heading-m">
        Tips for searching the EYQL using this service
      </h2>

      <p>
        If you cannot find a qualification that you think should appear on the EYQL, try:

        <ul class="govuk-list govuk-list--bullet">
          <li>checking your spelling</li>
          <li>using fewer words from the qualification title</li>
          <li>checking the qualification name and awarding organisation with the candidate</li>
          <li>asking the candidate to provide a copy of their certificate</li>
          <li>adding or removing filters on the search page</a>
        </ul>
      </p>

      <p>
        If you need more help, contact Ecctis Early Years Service. Ecctis provides qualification checking guidance on behalf of DfE. Information on the <a rel="external" href="https://ecctis.com/Qualifications/eys/Default.aspx" class="govuk-link">guidance Ecctis is able to provide</a> can be found on their website.
      </p>

      <h2 class="govuk-heading-m">
        Why a qualification may not appear on the EYQL
      </h2>

      <!-- <p>
        The only qualifications which appear on the EYQL, and in this service, are those which are approved as full and relevant by DfE. The qualification name on the certificate must exactly match the one on the EYQL.
      </p> -->

      <h3 class="govuk-heading-s">
        Qualifications offered by multiple awarding organisations
      </h3>

      <p>
        There are some qualifications which are offered by multiple awarding organisations. These are listed on the EYQL and in this service with the awarding organisation name "Various".
      </p>
      <p>
        If the qualification name matches the certificate, and the specific course meets all the requirements shown on the qualification details page, then it can be considered approved as full and relevant.
      </p>

      <h3 class="govuk-heading-s">
        Qualifications which do not meet DfE's criteria to be recognised as full and relevant
      </h3>

      <p>
        DfE has defined the criteria that Early Years Practitioner (level 2) and Early Years Educator (level 3) and other qualifications of level 4 or higher must meet to be recognised as full and relevant.
      </p>
      <p>
        These criteria outline the minimum skills, knowledge and understanding that a practitioner must demonstrate to deliver the EYFS and support the learning and development of young children. Awarding organisations and training providers can apply to DfE to have their qualifications reviewed against the criteria. If they are approved as full and relevant, they will be added to the EYQL and this service.
      </p>
      <p>
        You can read the criteria for qualifications to be added to the EYQL in the <a href="#">Early years qualification requirements and standards document</a>.

      <h3 class="govuk-heading-s">
        New qualifications
      </h3>

      <p>
        If a qualification has not yet been reviewed against the DfE criteria to be approved as full and relevant, it will not appear on the list.
      </p>
      <p>
        Awarding organisations and training providers can apply to DfE to have their qualifications reviewed against the criteria. If they are approved as full and relevant, they will be added to the EYQL and this service.
      </p>

      <h2 class="govuk-heading-m">
        About full and relevant qualifications
      </h2>

      <p>
        The <a href="">EYFS statutory framework</a> sets out the requirements for staff to child ratios in settings delivering the EYFS and the qualification levels practitioners must hold to be included within those requirements.
      </p>
      <p>
        The <a href="#">Early years qualification requirements and standards document</a> defines the qualifications that practitioners must hold to be included in the specified staff to child ratios at levels 2, 3 and 6 of the EYFS.
      </p>
      <p>
        To be included in the staff to child ratios at level 2, level 3 or level 6, staff must hold a qualification that is recognised by the Department for Education as full and relevant at the appropriate level. Any individual that does not hold a full and relevant qualification can only work as an unqualified member of staff in an early years setting and therefore cannot count in the staff to child ratios.
      </p>
      <p>
        Providers must refer to the EYFS statutory framework for any additional requirements that staff must meet to be included in the staff to child ratios (for example, Paediatric First Aid training).
      </p>
      <p>
        You can read more about the level 2, 3 and 6 staff to child ratios, and the criteria for qualifications to be added to the EYQL in the <a href="#">Early years qualification requirements and standards document</a>.

      <h2 class="govuk-heading-m">
        Get more help and advice
      </h2>

      <p>
        If you need more help, contact Ecctis Early Years Service. Ecctis provides qualification checking guidance on behalf of DfE. Information on the <a rel="external" href="https://ecctis.com/Qualifications/eys/Default.aspx" class="govuk-link">guidance Ecctis is able to provide</a> can be found on their website.
      </p>

      <button class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Check another qualification
              </a>
            </li>
            <li>
              <a href="#">
                Early years foundation stage statutory framework (EYFS)
              </a>
            </li>
            <li>
              <a href="#">
                Early years qualification requirements and standards
              </a>
            </li>
            <li>
              <a href="#">
                Pathway into early years education
              </a>
            </li>
            <li>
              <a href="#">
                Early years qualifications achieved outside the United Kingdom
              </a>
            </li>
            <li>
              <a href="#">
                Early years qualifications that do not meet the criteria
              </a>
            </li>
            <!-- <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
