{% extends "layouts/main.html" %}

{% block pageTitle %}
  Guidance - Check Early Years qualifications - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Education, training and skills",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <span class="govuk-caption-xl gem-c-title__context">
        Guidance
      </span>

      <h1 class="govuk-heading-xl">
        Check early years qualifications
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#qualification-requirements">Qualification requirements</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#qualifications-achieved-in-the-united-kingdom">Qualifications achieved in the United Kingdom</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#qualifications-achieved-outside-the-united-kingdom">Qualifications achieved outside the United Kingdom</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#qualifications-that-do-not-meet-the-criteria">Qualifications that do not meet the criteria</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#pathway-into-early-years">Pathway into early years</a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
<!--       
      <h2 class="govuk-heading-m">
        Page content heading
      </h2>

      <dl class="govuk-list">
        <dt class="gem-c-metadata__term">From:</dt>
        <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="/government/organisations/department-for-education">Department for Education</a>
  
        </dd>
        <dt class="gem-c-metadata__term">Published</dt>
        <dd class="gem-c-metadata__definition">25 April 2014</dd>
        <dt class="gem-c-metadata__term">Last updated</dt>
        <dd class="gem-c-metadata__definition">
          5 September 2022
            — <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history" data-module="ga4-link-tracker" data-ga4-link='{"event_name":"navigation","type":"content history","section":"Top","action":"opened"}'>
              See all updates
            </a>
        </dd>
    </dl> -->
      
      <p class="govuk-body-l">Find out if a person's qualifications allow them to work in an early years setting, and if you can include them in staff:child ratios.</p>

      <p>Use the <a href="start.html">Check an Early Years qualification</a> service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check if a person's qualification meets the approved ‘full and relevant’ criteria for early years qualifications</li>
        <li>confirm if a person counts in the <abbr title="early years foundation stage">EYFS</abbr> staff:child ratios</li>
      </ul>

      <h2 class="govuk-heading-m">About this guidance</h2>

      <p>This guidance is for anyone who wants information about early years qualifications.</p>

      <p>All early years providers working with children from birth to 5 years old must follow the regulations on early years foundation stage (<abbr title="early years foundation stage">EYFS</abbr>) staff:child ratios. This is the number of qualified staff, at different qualification levels, an early years setting needs to have in order to meet the needs of all children and ensure their safety. These regulations are set out in the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2" class="govuk-link">early years foundation stage (<abbr title="early years foundation stage">EYFS</abbr>) statutory framework</a>.</p>

      <p>Providers must make sure staff have the appropriate qualifications to count in the ratios, including the need to have at least one staff member trained in <a href="https://www.gov.uk/government/publications/early-years-qualifications-and-ratios/early-years-qualifications-and-ratios#paediatric" class="govuk-link">paediatric first aid</a>.</p>

      <h2 class="govuk-heading-m" id="qualification-requirements">Qualification requirements</h2>

      <h3 class="govuk-heading-s" id="qualifications-and-ratios">Qualifications and ratios</h3>

      <p>The Department for Education (<abbr title="Department for Education">DfE</abbr>) defines the qualifications that staff must hold to count in <abbr title="early years foundation stage">EYFS</abbr> staff:child ratios. Providers can use our <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-in-england" class="govuk-link">early years qualifications lists</a> to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check if a person’s qualification meets the approved ‘full and relevant’ criteria for early years qualifications</li>
        <li>confirm if a person counts in the <abbr title="early years foundation stage">EYFS</abbr> staff:child ratios</li>
      </ul>

      <p>The guidance on <a href="https://www.gov.uk/government/publications/early-years-qualifications-and-ratios" class="govuk-link">Early years qualifications and ratios</a> covers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>which qualifications are acceptable to work in early years</li>
        <li>paediatric first aid (<abbr title="paediatric first aid">PFA</abbr>)</li>
        <li>how to contact the department and disputes</li>
      </ul>

      <h2 class="govuk-heading-m" id="qualifications-achieved-in-the-united-kingdom">Qualifications achieved in the United Kingdom</h2>

      <p>The <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-in-england" class="govuk-link">Early years qualifications achieved in the United Kingdom</a> guidance details the list of qualifications gained in the United Kingdom that are all full and relevant and accepted by <abbr title="Department for Education">DfE</abbr> to work in an early years setting.</p>

      <p>It covers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>qualifications started before 1 September 2014</li>
        <li>qualifications started after 1 September 2014</li>
        <li>level 2 and 3 qualifications</li>
        <li>special educational needs and disability (<abbr title="special educational needs and disability">SEND</abbr>)</li>
        <li>qualifications achieved in Scotland, Wales and Northern Ireland</li>
      </ul>

      <h2 class="govuk-heading-m" id="qualifications-achieved-outside-the-united-kingdom">Qualifications achieved outside the United Kingdom</h2>

      <p>If you did not get your qualification in the United Kingdom you will have to make an application for recognition to work in early years education in England.</p>

      <p><a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-outside-england" class="govuk-link">The Early years qualifications achieved outside the United Kingdom</a> guidance covers the information you will need to apply for recognition of overseas qualifications to be counted in the <abbr title="early years foundation stage">EYFS</abbr> staff:child ratios in England.</p>

      <p>This applies to those in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Europe</li>
        <li>Rest of the world</li>
      </ul>

      <h2 class="govuk-heading-m" id="qualifications-that-do-not-meet-the-criteria">Qualifications that do not meet the criteria</h2>

      <p>Some qualifications do not meet the ‘full and relevant’ criteria set by <abbr title="Department for Education">DfE</abbr>, meaning you cannot count them, at the appropriate level, in the <abbr title="early years foundation stage">EYFS</abbr> staff:child ratios.</p>

      <p>Based on certain criteria this could include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>nurses</li>
        <li>midwives</li>
        <li>specialist community public health nurses</li>
      </ul>

      <p>The <a href="https://www.gov.uk/government/publications/early-years-qualifications-that-do-not-meet-the-criteria" class="govuk-link">Early years qualifications that do not meet the criteria</a> guidance provides further information.</p>

      <h2 class="govuk-heading-m" id="pathway-into-early-years">Pathway into early years</h2>

      <p>The <a href="https://www.gov.uk/government/publications/pathway-into-early-years-education" class="govuk-link">Pathway into early years education</a> guidance is for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>anyone considering a career in the sector</li>
        <li>careers advisers</li>
        <li>Department for Work and Pensions work coaches</li>
        <li>early years practitioners who wish to progress their careers</li>
        <li>employers</li>
      </ul>

      <p>It contains planning information and tools for those interested in working in the early years education sector including an <a href="https://www.gov.uk/government/publications/pathway-into-early-years-education/pathway-into-early-years-education/" class="govuk-link">Early years career progression map</a>.</p>



      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Early years qualifications: pre-September 2014 criteria
              </a>
            </li>
            <li>
              <a href="#">
                Early years qualifications and ratios
              </a>
            </li>
            <!-- <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}