{% extends "layouts/dfe-main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/current/r10/start"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form class="form" action="eyq-300" method="post">

      <h1 class="govuk-heading-xl">Is this the qualfication you are looking for?</h1>

      {{ govukSummaryList({
        rows: [

        {
            key: {
              text: "Qualification"
            },
            value: {
              text: "BA (Hons) in Early Childhood Studies"
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Qualification level"
            },
            value: {
              text: "6"
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Awarding organisation"
            },
            value: {
              text: "University of Buxton"
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Date added to early years qualifications list"
            },
            value: {
              text: "1 September 2014"
            },
            actions: {

            }
          }
        ]
      }) }}

      {{ govukRadios({
          name: "yes-no",
          value: data['yes-no'],
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No, search again"
            },
            {
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
