{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/current/r10/q1"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="q2-post" method="post">

      <input type="hidden" name="awarding-location" value="{{data['awarding-location']}}" />
      {% call govukFieldset({
        legend: {
          text: "When was the qualification started?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      <div id="date-format-hint" class="govuk-hint">
        Enter the month and year, for example 3 2014
      </div>
        <div class="govuk-date-input" id="date-started">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-started-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-started-month" name="date-started-month" type="text" inputmode="numeric" value="{{data['date-started-month']}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-started-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-started-year" name="date-started-year" type="text" inputmode="numeric" value="{{data['date-started-year']}}">
            </div>
          </div>
        </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      {% endcall %}

    </form>

  </div>
</div>

{% endblock %}
