{% extends "layouts/main.html" %}

{% block pageTitle %}
Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/current/r10/q3"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = "Please tell us the awarding organisation" %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#awarding-organisation"
        }
      ]
    }) }}

    <h1 class="govuk-heading-l">
      What is the awarding organisation?
    </h1>

    <form class="form" action="post-search-results" method="post">
      <input type="hidden" name="awarding-location" value="{{data['awarding-location']}}" />
      <input type="hidden" name="date-started-month" value="{{data['date-started-month']}}" />
      <input type="hidden" name="date-started-year" value="{{data['date-started-year']}}" />
      <input type="hidden" name="qualification-level" value="{{data['qualification-level']}}" />
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-form-group">

          {{ govukSelect({
            id: "awarding-organisation",
            name: "awarding-organisation",
            label: {
              text: "Awarding organisation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            },
            items: data['awarding-organisations'],
            errorMessage: {
              text: errorMessage
            }
          }) }}
        </div>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}