{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl gem-c-title__context">
       Early Years Qualification List
      </span>

      <h1 class="govuk-heading-xl">
        NCFE CACHE Level 3 Diploma in Childcare and Education (Early Years Educator)
      </h1>

      {{ govukSummaryList({
        rows: [

        {
            key: {
              text: "Awarding organisation"
            },
            value: {
              text: "NCFE"
            },
            actions: {
              
            }
          }
          ,
          {
            key: {
              text: "Date of check"
            },
            value: {
              text: "18 December 2023"
            },
            actions: {
              
            }
          }
        ]
      }) }}

      <p>
        NCFE CACHE Level 3 Diploma in Childcare and Education (Early Years Educator) is listed as being full and relevant on the Early Years Qualifications List (EYQL). As such, you can be counted in the Level 3 staff:child ratios in an early years setting in England, as defined by the Department for Education.
      </p>
      
      <p>
        As the qualification was completed after 1 September 2014, please note that to count in the staff:child ratios at Level 3 <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">as outlined in the Early Years Foundation Stage</a>, you must also have achieved suitable Level 2 qualifications in English and Maths. 
      </p>
      
      <p>
        If you do not have suitable Level 2 qualifications in English and maths, you can only count in the ratios at Level 2.
      </p>

      <p>
        Please note that entrants to the early years workforce are required to hold either a full paediatric first aid (PFA) or an emergency PFA certificate, within three months of starting work to be counted in the Level 3 staff:child ratios. For further information on Paediatric First Aid courses, please refer to the Health and Safety Executive.
      </p>


      <h2 class="govuk-heading-m">
        Bookmark a link to this qualification check
      </h2>

      <p>
        A permanent link to this qualification check is available at: 
        <br />
        <br />
        <a href="#">https://check-early-years-qualification.service.gov.uk/qualification-check/601-4000-8</a>
      </p>

      <form action="#" method="post" novalidate>

        {{ govukButton({
          text: "Bookmark this qualification check",
          classes: "govuk-button--secondary"
        }) }}

      </form>

      <h2 class="govuk-heading-m">
        Check another qualifcation
      </h2>
      <p>Return to the start of the <a href="start.html">Check an Early Years qualification</a> service to check another qualification.</p>

      <h2 class="govuk-heading-m">
        Further information about the Early Years Qualification List
      </h2>
      
      <p>For information on non-UK qualifications, refer to the <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-outside-england" class="govuk-link">early years qualifications achieved outside the United Kingdom</a> guidance.</p>
      
      <div class="govuk-inset-text">
        <p>
          If you have further queries, contact Ecctis. Information on the <a rel="external" href="https://ecctis.com/Qualifications/eys/Default.aspx" class="govuk-link">guidance Ecctis is able to provide</a> can be found on its website.
        </p>
      
        <p>
          If you contacted the DfE early years workforce team prior to 5 September 2022, you do not need to contact Ecctis.
        </p>
      </div>


    </div>
  </div>
{% endblock %}
