{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to select the qualification",
  href: "/current/r12/search-results"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = "Select one option" %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#requirement1"
        }
      ]
    }) }}

    <form class="form" action="eyq-240-requirement1-post" method="post">
      <div class="govuk-form-group govuk-form-group--error">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Did the qualification include an element of assessed practice in an early years setting in England?
        </h1>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is assessed practice? 
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              Examples of suitable assessed practice include:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>direct observation of the learner's practice in the workplace </li>
              <li>documented accounts of the learner's practice </li>
              <li>professional discussion, recorded oral or written questions relating to the learner's practice</li>
              <li>work plans or work-based products created by the learner </li>
              <li>case studies, working journals, assignments or projects recording the learner's practice in the workplace</li>
              <li>simulated exercises demonstrating the learner's ability to cope with specific events, for example fire drills or confidential meetings </li>
            </ul> 
          </div>
        </details>

        {{ govukRadios({
            id: "includesAssessedPractice",
            name: "includesAssessedPractice",
            value: data['includesAssessedPractice'],
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: ""
              }
            },
            errorMessage: {
              text: errorMessage
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
