{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to what level is the qualification",
    href: "/current/r12/q3"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-10">
      Level 6 qualifications 
    </h1>
    <p class="govuk-body">
      This is a new service. Some level 6 qualifications have not yet been added to this service. 
    </p>
    <p class="govuk-body">
      The qualifications that are currently available to check are: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li> 
        <a href="/current/r12/qts-confirm" class="govuk-link">
          Qualified Teacher Status (QTS)
        </a> 
      </li>
      <li> 
        <a href="#" class="govuk-link">
          Early Years Professional Status (EYPS)
        </a> 
      </li>
      <li> 
        <a href="#" class="govuk-link">
          Early Years Teacher Status (EYTS)
        </a> 
      </li>
    </ul>
    <h3 style="margin-top: 30px;" class="govuk-heading-m">
      Other level 6 qualifications
    </h3>
    <p class="govuk-body">
      For all other level 6 qualifications, you can use the existing early years qualifications list (EYQL) service by downloading the <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-in-england">early years qualifications achieved in the UK check list</a>.
    </p>
    </div>

</div>


{% endblock %}
