{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to select the qualification",
    href: "/current/r12/search-results"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-10">
      I cannot find the qualification
    </h1>
    <h2 class="govuk-heading-l">
      Tips for using this service
    </h2>
    <p class="govuk-body-m">
      If you cannot find a qualification that you think should appear on the early years qualifications list (EYQL), try:
    </p>
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>asking the qualification holder to provide a copy of their certificate</li>
    <li>checking the qualification level</li>
    <li>making sure you have entered the date the qualification was started, rather than the date it was awarded</li>
  </ul>
  <h2 class="govuk-heading-l">
    Qualifications listed with 'various awarding organisations'
  </h2>
    <p>
      Some qualifications are awarded by multiple awarding organisations with the same qualification title. These qualifications may be listed under 'various awarding organisations'.
    </p>
  <h2 class="govuk-heading-l">
    Higher education qualifications
  </h2>
    <p>
      Many universities and other higher education institutions offer qualifications in Early Childhood Studies or related subjects. Due to the range of qualifications available at this level, DfE does not always individually list each qualification on the EYQL.
    </p>
  <h3 class="govuk-heading-m">
    Level 4 and 5 qualifications, including HND and foundation degrees
  </h3>
    <p>
      Some level 4 and 5 qualifications started before September 2014 are grouped together, with several qualifications listed as a single entry on the EYQL. If the qualification you are checking was started before September 2014 and is a:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Certificate of Higher Education</li>
      <li>Higher National Certificate (HNC)</li>
      <li>Higher National Diploma (HND)</li>
      <li>Diploma of Higher Education</li>
      <li>Foundation Degree</li>
    </ul>
    <p>
      You should return to the search results and choose the option which includes the qualification name that you are checking.
    </p>
  <h3 class="govuk-heading-m">
    Level 6 qualifications, including BA (Hons) degrees
  </h3>
    <p>
      If the qualification you are checking is a level 6 degree, for example a Bachelor of Arts (BA), you should read the <a href="#">guidance for level 6 qualifications</a>:
    </p>
    <ul class="govuk-list govuk-list--bullet">
       <li><a href="#">started before September 2014</a></li>
       <li><a href="#">started on or after 1 September 2014</a></li>
    </ul>
  <h3 class="govuk-heading-m">
    Level 7 qualifications
  </h3>
    <p>
      If the qualification you are checking is a level 7 qualification, for example a Postgraduate Certificate or Postgraduate Diploma, you should read the <a href="#">guidance for level 7 qualifications</a>.
    </p>
  <h2 class="govuk-heading-l">
    Use the existing EYQL service
  </h2>
    <p class="govuk-body-m">
      This is a new service. You can still use the existing EYQL service by downloading the <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-in-england" target="_blank">early years qualifications achieved in the UK check list</a>. This document is regularly updated by DfE to add new or updated qualifications as they become approved. You should refresh the page before downloading the EYQL spreadsheet to be sure that you are using the latest version.
    </p>
    <p class="govuk-body-m">
      If you cannot find the qualification on this new service, but can find it using the EYQL spreadsheet, let us know using the <a href="#">feedback form</a>. Your feedback will help us to improve the service for everyone.
    </p>
  <h2 class="govuk-heading-l">
    If you still cannot find the qualification
  </h2>
    <p class="govuk-body-m">
      If you have tried the suggestions above and still cannot find the qualification listed either on this service or on the existing <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-in-england" target="_blank">early years qualifications achieved in the UK check list</a>, the qualification cannot be considered full and relevant.
    </p>
    <p class="govuk-body-m">
      This means that the qualification holder is not able to work as a qualified member of staff within the staff:child ratios in a registered early years setting in England. They can, however, work as an unqualified member of staff.
    </p>

  <h2 class="govuk-heading-l">
    Related content
  </h2>
  <p class="govuk-body-m">
      <a href="https://www.gov.uk/guidance/early-years-qualifications-finder" target="_blank">Guidance on checking early years qualifications</a>
  </p>
  <p class="govuk-body-m">
    <a href="https://www.gov.uk/government/publications/early-years-qualification-requirements-and-standards" target="_blank">Early years qualification requirements and standards</a>
  </p>
  <p class="govuk-body-m">
    <a href="https://www.gov.uk/government/publications/pathway-into-early-years-education" target="_blank">Pathway into early years education</a>
  </p>

  </div>

</div>


{% endblock %}
