{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to where was the qualification awarded",
  href: "/current/r12/q1"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="q2-post" method="post">

      <input type="hidden" name="awarding-location" value="{{data['awarding-location']}}" />
      {% call govukFieldset({
        legend: {
          text: "When was the qualification started?",
          isPageHeading: true,
          classes: "govuk-heading-xl govuk-!-margin-bottom-4"
        }
      }) %}
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why do we ask for the date the qualification was started?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            DfE sets the criteria for qualifications to be approved as 'full and relevant'. These criteria occasionally change. We use the date the qualification was started, rather than the completion date, to establish which criteria the qualification was approved against.
          </p>
          <p>
            You can read more about the criteria in the <a href="https://www.gov.uk/government/publications/early-years-qualification-requirements-and-standards" target="_blank">early years qualification requirements and standards statutory guidance (opens in new tab)</a>.
          </p>
        </div>
      </details>
      <div id="date-format-hint" class="govuk-hint">
        For example 3 2014
      </div>
        <div class="govuk-date-input" id="date-started">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-started-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-started-month" name="date-started-month" type="text" inputmode="numeric" value="{{data['date-started-month']}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-started-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-started-year" name="date-started-year" type="text" inputmode="numeric" value="{{data['date-started-year']}}">
            </div>
          </div>
        </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      {% endcall %}

    </form>

  </div>
</div>

{% endblock %}
