{% extends "layouts/main.html" %}

{% block pageTitle %}
Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to what level is the qualification",
href: "/current/r12/q3"
}) }}
{% endblock %}

{% block content %}

{% set isNotOnTheListSelected = data['awarding-organisation'] == 'any' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set errorMessage = "Select the awarding organisation or 'Not on the list'" %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#awarding-organisation"
        }
      ]
    }) }}

    <form class="form" action="post-search-results" method="post">
      <div class="govuk-form-group govuk-form-group--error">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        What is the awarding organisation?
      </h1>

      <input type="hidden" name="awarding-location" value="{{data['awarding-location']}}" />
      <input type="hidden" name="date-started-month" value="{{data['date-started-month']}}" />
      <input type="hidden" name="date-started-year" value="{{data['date-started-year']}}" />
      <input type="hidden" name="qualification-level" value="{{data['qualification-level']}}" />
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-form-group">
          {{ govukSelect({
            id: "awarding-organisation-select",
            name: "awarding-organisation",
            disabled: isNotOnTheListSelected,
            label: {
              text: "Awarding organisation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            },
            items: data['awarding-organisations'],
            errorMessage: {
              text: errorMessage
            }
          }) }}
        </div>
        <div class="govuk-form-group">
          {{ govukCheckboxes({
            id: "awarding-organisation",
            name: "awarding-organisation",
            classes: "govuk-checkboxes--large",
            items: [
              {
                value: "any",
                text: "Not on the list",
                checked: isNotOnTheListSelected
              }
            ]
          }) }}
        </div>
      </div>

      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var checkbox = document.getElementById('awarding-organisation');
    var select = document.getElementById('awarding-organisation-select');

    checkbox.addEventListener('click', function() {
      if (checkbox.checked) {
        select.disabled = true;
        console.log(select);
      } else {
        select.disabled = false;
      }
    });
  });
</script>

{% endblock %}