{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to select the qualification",
  href: "/current/r11/search-results"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form class="form" action="confirm-post" method="post">
      <input type="hidden" name="redirect" value="eyq-240" />
      <h1 class="govuk-heading-xl">
        Confirm qualification
      </h1>

      {{ govukSummaryList({
        rows: [

        {
            key: {
              text: "Qualification"
            },
            value: {
              text: "T Level Technical Qualification in Education and Childcare (Specialism - Early Years Educator)"
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Qualification level"
            },
            value: {
              text: "3"
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Awarding organisation"
            },
            value: {
              text: "NCFE"
            },
            actions: {

            }
          }
        ]
      }) }}

      {{ govukRadios({
          name: "yes-no",
          value: data['yes-no'],
          fieldset: {
            legend: {
              text: "Is this the qualification you are looking for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No, select another qualification"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
