{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to was the course fully consistent with the QAA subject benchmark statement for Early Childhood Studies",
  href: "/current/r11/eyq-293-requirement2"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="eyq-293-checked" method="post">
      <h1 class="govuk-fieldset__legend--xl">
        Check the qualification additional requirements
      </h1>

      <dl style="margin-top: 30px" class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt style="width: 60%;" class="govuk-summary-list__key">
            Did the qualification include an element of assessed practice in early years setting? 
          </dt>
          <dd style="text-align: center;" class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eyq-293-requirement1">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt style="width: 60%;" class="govuk-summary-list__key">
            Was the course fully consistent with the QAA subject benchmark statement for Early Childhood Studies?
          </dt>
          <dd style="text-align: center;" class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="eyq-293-requirement2">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
      </dl>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Your result is dependent on the accuracy of the answers you have provided.
        </strong>
      </div>

      {{ govukButton({
        text: "Get result"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
