{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to check the qualification additional requirements",
    href: "/current/r11/eyq-240-requirements-check"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Qualification result
    </h1>

    <h2 class="govuk-heading-l">
      Qualification details
    </h2>

    {{ govukSummaryList({
      rows: [

        {
          key: {
            text: "Qualification"
          },
          value: {
            text: "T Level Technical Qualification in Education and Childcare (Specialism - Early Years Educator)"
          }
        },

        {
          key: {
            text: "Qualification level"
          },
          value: {
            text: "3"
          },
          actions: {

          }
        }
        ,
        {
          key: {
            text: "Awarding organisation"
          },
          value: {
            text: "NCFE"
          },
          actions: {

          }
        }
        ,
        {
          key: {
            text: "Qualification start date"
          },
          value: {
            text: "February 2015"
          },
          actions: {

          }
        }
        ,
        {
          key: {
            text: "Included an element of assessed practice in an early years setting in England"
          },
          value: {
            text: "Yes"
          },
          actions: {

          }
        }
        ,
        {
          key: {
            text: "Date checked"
          },
          value: {
            text: data['todays-date']
          },
          actions: {

          }
        }
      ]
    }) }}
  </div>
</div>

<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Staff:child ratios for this qualification
    </h2>

    <p class="govuk-body-m">
      Given the information you have provided, this qualification is approved by the Department for Education as full and relevant for the following staff:child ratios.
    </p>

    <p class="govuk-body-m">
      To count in the staff:child ratios, practitioners may need to meet other requirements in addition to their full and relevant qualification.
    </p>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-body-m">
              <strong>
                Level 3
              </strong>
            </p>
          </legend>
          <div style="max-height: max-content;">
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </div>
        </div>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Requirements to count in the level 3 staff:child ratios
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body-m">
              <strong>
                Level 2 English qualification
              </strong>
            </p>
            <p class="govuk-body-m">
              For someone who holds this qualification to be included in the staff:child ratios at level 3, they must hold a suitable level 2 English qualification. You can find a list of suitable Level 2 English qualifications in the <a href="https://www.gov.uk/government/publications/early-years-qualification-requirements-and-standards">early years qualification requirements and standards document</a>.
            </p>
            <p class="govuk-body-m">
              A person who holds a full and relevant level 3 qualification started after September 2014, but who does not hold a suitable level 2 English qualification can be counted in the staff:child ratios at level 2. 
            </p>
            <p class="govuk-body-m">
              <strong>
                Paediatric first aid certificate
              </strong>
            </p>
            <p class="govuk-body-m">
              As this qualification was obtained since 30 June 2016, the member of staff must obtain a paediatric first aid certificate which meets the criteria in the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">early years foundation stage (EYFS) statutory framework</a> within 3 months of starting work. To continue to be included in the ratio requirement the certificate must be renewed every 3 years.
            </p>
          </div>
        </details>
      </fieldset>
    </div>
    <hr>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-body-m">
              <strong>
                Level 2
              </strong>
            </p>
          </legend>
          <div style="max-height: max-content;">
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </div>
        </div>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Requirements to count in the level 2 staff:child ratios
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              <strong>
                Paediatric first aid certificate
              </strong>
            </p>
            <p>
              As this qualification was obtained since 30 June 2016, the member of staff must obtain a paediatric first aid certificate which meets the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">criteria in the early years foundation stage (EYFS) statutory framework</a> within 3 months of starting work. To continue to be included in the ratio requirement the certificate must be renewed every 3 years.
            </p>
          </div>
        </details>
      </fieldset>
    </div>
    <hr>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint" style="margin-bottom: 30px;">
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-body-m">
              <strong>
                Unqualified
              </strong>
            </p>
          </legend>
          <div style="max-height: max-content;">
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </div>
        </div>
      </fieldset>
    </div>
    <hr>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-body-m">
              <strong>
                Level 6
              </strong>
            </p>
          </legend>
          <div style="max-height: max-content;">
            <strong class="govuk-tag govuk-tag--red">
              Not approved
            </strong>
          </div>
        </div>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Requirements to count in the level 6 staff:child ratios
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body-m">To be included in the staff:child ratios at level 6, staff must hold one of the following:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Qualified Teacher Status (QTS)</li>
              <li>Early Years Teacher Status (EYTS)</li>
              <li>Early Years Professional Status (EYPS)</li>
            </ul>
            <p class="govuk-body-m">
              Staff who hold one of these qualifications may be counted in the staff:child ratios at either level 3 or level 6, but not both.
            </p>
          </div>
        </details>
      </fieldset>
    </div>
    <hr>
  </div>

  <br>
  <br>

  <div style="margin-top: 40px" class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Requirements for all staff
    </h2>
    <p>
      As set out in the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">early years foundation stage (EYFS) statutory framework</a>, providers must:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ensure that staffing arrangements meet the needs of all children and ensure their safety</li>
      <li>ensure that people looking after children are suitable</li>
      <li>meet all other requirements as set out in the EYFS and the <a href="https://www.gov.uk/government/publications/early-years-qualification-requirements-and-standards">early years qualification requirements and standards document</a></li>
    </ul>
  </div>
</div>
<br>

<button onclick="window.print();" class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>

<br>
<br>

<p class="govuk-body">
  <a href="/current/r11/q1" class="govuk-link">
    Check another qualification
  </a>
</p>


{% endblock %}
