{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to select the qualification",
    href: "/current/r11/search-results"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check the additional requirements
    </h1>

    {{ govukSummaryList({
      rows: [

      {
          key: {
            text: "Qualification"
          },
          value: {
            text: "Degrees and honours degrees at Level 6"
          },
          actions: {

          }
        }
        ,
        {
          key: {
            text: "Qualification level"
          },
          value: {
            text: "Degree with honours"
          },
          actions: {

          }
        }
        ,
        {
          key: {
            text: "Awarding organisation"
          },
          value: {
            text: "Various awarding organisations"
          },
          actions: {

          }
        }
      ]
    }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p style="margin-top:25px;" class="govuk-body-l">
      <strong>
        Answer the following questions
      </strong>
    </p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <p class="govuk-body-m">
            Did the qualification include an element of assessed practice in an early years setting</a>?
          </p>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="earlyyears" name="earlyyears" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="earlyyears">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="earlyyears-2" name="earlyyears" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="earlyyears-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <hr>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <p style="margin-top: 20px" class="govuk-body-m">
            Was the course fully consistent with the <a href="https://www.qaa.ac.uk/the-quality-code/subject-benchmark-statements/early-childhood-studies" target="_blank">QAA subject benchmark statement for Early Childhood Studies</a>?
          </p>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="QAA" name="QAA" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="QAA">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="QAA-2" name="QAA" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="QAA-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <hr>

    <div style="margin-top: 20px" class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Your result is dependent on the accuracy of the answers you have provided.
      </strong>
    </div>

    <form class="form" action="/current/r11/eyq-293-checked" method="post">
          {{ govukButton({
      text: "Get result"
    }) }}
    </form>

  </div>
</div>


{% endblock %}
