{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to select the qualification",
    href: "/current/r11/search-results"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-10">
      I cannot find the qualification on the list      
    </h1>
    <p class="govuk-body-m">
      If you cannot find the qualification on the list, it may still be considered full and relevant if it is included in a group of qualifications.
    </p>
    <h2 class="govuk-heading-l">
      Grouped qualifications for level 6
    </h2>
    <p style="margin-bottom: 40px" class="govuk-body-m">
      The list of level 6 qualifications on the EYQL includes the following grouped qualifications:
    </p>
    <div>
      <h3 class="govuk-heading-m">
        BA (Hons) Early Childhood Studies
      </h3>
      <div>
        <p>
          If the qualification is a BA (Hons) or bachelor of arts, and the title includes Early Childhood Studies, please choose this qualification.
        </p>
        <p style="margin-bottom: 40px" class="govuk-body">
          <a href="" class="govuk-link">
            Check a BA (Hons) Early Childhood Studies qualification
          </a>
        </p>
      </div>
    </div>
    <div>
      <h3 class="govuk-heading-m">
        Degrees and honours degrees at Level 6
      </h3>
      <div>
        <p class="govuk-body-m">
          Many universities offer degrees in early years subjects. You can choose this option if:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the qualification was awarded by a university or higher education institution in England</li>
          <li>the qualification is related to early years</li>
          <li>the qualification name includes one of the following:
            <ul class="govuk-list govuk-list--bullet">
              <li>
                BA, BA (Hons) or Bachelor of Arts
              </li>
              <li>
                BEd, BEd (Hons) or Bachelor of Education
              </li>
              <li>
                BSc, BSc (Hons) or Bachelor of Science
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <p style="margin-bottom: 40px" class="govuk-body">
        <a href="eyq-293-confirm" class="govuk-link">
          Check a degree or honours degree at Level 6 
        </a>
      </p>
    </div>

    <p>
      
</div>

  
{% endblock %}
