{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check an Early Years qualification – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to check the qualification additional requirements",
    href: "/current/r14/eyq-240-requirements-check"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-10">
      Qualification check
    </h1>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
      Qualification details
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          BA (Hons) Early Childhood Studies
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Level
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['qualification-level']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['awarding-organisation']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        {% if data['date-started-month'] === '1' or data['date-started-month'] === '01' %}
          <dd class="govuk-summary-list__value"> January {{data['date-started-year']}} </dd>
        {% endif %}
        {% if data['date-started-month'] === '2' or data['date-started-month'] === '02'%}
          <dd class="govuk-summary-list__value"> February {{data['date-started-year']}} </dd>
        {% endif %}
        {% if data['date-started-month'] === '3'or data['date-started-month'] === '03' %}
          <dd class="govuk-summary-list__value"> March {{data['date-started-year']}} </dd>
        {% endif %}
        {% if data['date-started-month'] === '4' or data['date-started-month'] === '04' %}
          <dd class="govuk-summary-list__value"> April {{data['date-started-year']}} </dd>
        {% endif %}
        {% if data['date-started-month'] === '5' or data['date-started-month'] === '05'%}
          <dd class="govuk-summary-list__value"> May {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '6' or data['date-started-month'] === '06'%}
          <dd class="govuk-summary-list__value"> June {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '7' or data['date-started-month'] === '07'%}
          <dd class="govuk-summary-list__value"> July {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '8' or data['date-started-month'] === '08'%}
          <dd class="govuk-summary-list__value"> August {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '9' or data['date-started-month'] === '09' %}
          <dd class="govuk-summary-list__value"> September {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '10' %}
          <dd class="govuk-summary-list__value"> October {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '11' %}
          <dd class="govuk-summary-list__value"> November {{data['date-started-year']}} </dd> 
        {% endif %}
        {% if data['date-started-month'] === '12' %}
          <dd class="govuk-summary-list__value"> December {{data['date-started-year']}} </dd> 
        {% endif %}
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Award date
        </dt>
        {% if data['date-awarded-month'] === '1' or data['date-awarded-month'] === '01' %}
        <dd class="govuk-summary-list__value"> January {{data['date-awarded-year']}} </dd>
        {% endif %}
        {% if data['date-awarded-month'] === '2' or data['date-awarded-month'] === '02'%}
          <dd class="govuk-summary-list__value"> February {{data['date-awarded-year']}} </dd>
        {% endif %}
        {% if data['date-awarded-month'] === '3'or data['date-awarded-month'] === '03' %}
          <dd class="govuk-summary-list__value"> March {{data['date-awarded-year']}} </dd>
        {% endif %}
        {% if data['date-awarded-month'] === '4' or data['date-awarded-month'] === '04' %}
          <dd class="govuk-summary-list__value"> April {{data['date-awarded-year']}} </dd>
        {% endif %}
        {% if data['date-awarded-month'] === '5' or data['date-awarded-month'] === '05'%}
          <dd class="govuk-summary-list__value"> May {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '6' or data['date-awarded-month'] === '06'%}
          <dd class="govuk-summary-list__value"> June {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '7' or data['date-awarded-month'] === '07'%}
          <dd class="govuk-summary-list__value"> July {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '8' or data['date-awarded-month'] === '08'%}
          <dd class="govuk-summary-list__value"> August {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '9' or data['date-awarded-month'] === '09' %}
          <dd class="govuk-summary-list__value"> September {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '10' %}
          <dd class="govuk-summary-list__value"> October {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '11' %}
          <dd class="govuk-summary-list__value"> November {{data['date-awarded-year']}} </dd> 
        {% endif %}
        {% if data['date-awarded-month'] === '12' %}
          <dd class="govuk-summary-list__value"> December {{data['date-awarded-year']}} </dd> 
        {% endif %}
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification led to QTS, EYTS or EYPS 
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['ledToQTS']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course was fully consistent with the QAA Subject Benchmark Statement for Early Childhood Studies 
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['isQAAConsistent']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Included an element of assessed practice in an early years setting
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['includesAssessedPractice']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date checked
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['todays-date']}}
        </dd>
      </div>
    </dl>
  </div>
</div>

<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 style="margin-top: 20px" class="govuk-heading-l govuk-!-margin-bottom-4">
      Result for this qualification
    </h2>
    <div style="border-left-color: #d4351c" class="govuk-inset-text">
      <h3 class="govuk-heading-m">
        Not full and relevant at either level 3 or level 6
      </h3>
      <p class="govuk-body-m">
        Given the information you have provided, the qualification cannot be considered full and relevant at either level 3 or level 6.
      </p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 style="margin-top: 20px" class="govuk-heading-l govuk-!-margin-bottom-4">
      Staff:child ratios for this qualification
    </h2>

    <p class="govuk-body-m">
      As the qualification is not full and relevant, the qualification holder is not able to work as a qualified member of staff within the staff:child ratios in a registered early years setting in England. They can, however, work as an unqualified member of staff.
    </p>
    <p class="govuk-body-m">
      Alternatively, they may be eligible to count at level 3 through the experience-based route, if they meet the relevant criteria.
    </p>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <div>
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint" style="margin-bottom: 30px;">
            <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h3 class="govuk-heading-m">
                  Unqualified
                </h3>
              </legend>
              <div style="max-height: max-content;">
                <strong class="govuk-tag govuk-tag--green">
                  Approved
                </strong>
              </div>
            </div>
          </fieldset>
        </div>
        <hr>
        
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-heading-m">
                Level 2
            </h3>
          </legend>
          <div style="min-width: 205px;">
            <strong class="govuk-tag govuk-tag--grey" style="white-space: nowrap; min-width: 188px;">
              Further action required
            </strong>
          </div>
        </div>
        <p class="govuk-body">
          If a person holds a level 3, 4, 5, 6 or 7 qualification that is not on the early years qualifications list (EYQL), they may be able to count in the staff:child ratios at level 2 if:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the qualification was started between 1 September 2014 and 31 August 2019</li>
          <li>the qualification is early years (0 to 5 years) related</li>
          <li>the qualification is appropriate to early years practice</li>
        </ul>
        <p class="govuk-body">
          The Department for Education (DfE) can help you confirm whether a qualification started between 1 September 2014 and 31 August 2019 meets these requirements.
        </p>
        <p class="govuk-body">
          To get help with confirming these qualifications, you can use the <a class="govuk-link" href="https://www.gov.uk/contact-dfe" target="_blank">DfE contact form (opens in new tab)</a>. Choose the option to ask a question and include 'For the attention of the Early Years Qualifications Unit' in your message. You will usually get a reply within 15 working days.
        </p>
      </fieldset>
    </div>
    <hr>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-heading-m">
              Level 3
            </h3>
          </legend>
          <div style="min-width: 200px;">
            <strong class="govuk-tag govuk-tag--light-blue" style="white-space: nowrap; min-width: 193px;">
              Possible route available
            </strong>
          </div>
        </div>
        <p class="govuk-body">
          The qualification holder may be eligible for the Department for Education's <a class="govuk-link" href="https://www.gov.uk/government/publications/experience-based-route-for-early-years-staff" target="_blank">experience-based route (opens in new tab)</a>. This is a new process which will allow suitable early years practitioners with an approved Level 2 qualification the opportunity to gain status to work within the Level 3 staff:child ratios. This is an optional flexibility, available from 3 March 2025 to providers and educators who meet the eligibility criteria.
        </p>
      </fieldset>
    </div>
    <hr>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint" style="margin-bottom: 30px;">
        <div style="display: flex; justify-content: space-between; padding-top: 30px; margin-bottom: -24px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-heading-m">
              Level 6
            </h3>
          </legend>
          <div style="min-width: 200px;">
            <strong class="govuk-tag govuk-tag--light-blue" style="white-space: nowrap; min-width: 193px;">
              Possible route available
            </strong>
          </div>
        </div>
        <p class="govuk-body">
          The qualification is not approved to count in the staff:child ratios at Level 6. 
        </p>
        <p class="govuk-body">
          To be included in the staff:child ratios at level 6, staff must hold one of the following: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Qualified Teacher Status (QTS)</li>
          <li>Early Years Teacher Status (EYTS)</li>
          <li>Early Years Professional Status (EYPS)</li>
        </ul>
        <p>
          The qualification holder may be eligible for <a class="govuk-link" href="https://getintoteaching.education.gov.uk/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers" target="_blank">early years initial teacher training (EYITT) (opens in new tab)</a>. This route allows suitable early years practitioners with a Level 6 degree qualification to gain Early Years Teacher Status (EYTS) and be included in the Level 6 staff:child ratios.
        </p>
      </fieldset>
    </div>
    <hr>
  </div>

  <br>
  <br>

  <div style="margin-top: 40px" class="govuk-grid-column-two-thirds">
    <h2 style="margin-top: 20px" class="govuk-heading-l govuk-!-margin-bottom-4">
      Your responsibilities as a provider
    </h2>
    <p class="govuk-body">
      As set out in the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2" target="_blank">early years foundation stage (EYFS) statutory framework (opens in new tab)</a>, providers must:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ensure that staffing arrangements meet the needs of all children and ensure their safety</li>
      <li>ensure that people looking after children are suitable</li>
      <li>meet all other requirements as set out in the EYFS and the <a href="https://www.gov.uk/government/publications/early-years-qualification-requirements-and-standards" target="_blank">early years qualification requirements and standards document (opens in new tab)</a></li>
    </ul>
  </div>
</div>
<br>

<button onclick="expandDetailsAndPrint();" class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>

<br>
<br>

<p class="govuk-body-m">
  <a href="/current/r14/reset-filters" class="govuk-button govuk-button--secondary">
    Check another qualification
  </a>
</p>


{% endblock %}
