{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to where was the qualification awarded",
  href: "/current/r15/q1"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="q2-post" method="post">

      <!-- This list each error separately: -->
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter the month and year that the qualification was started",
            href: "#date-started-month"
          },
          {
            text: "Enter the month and year that the qualification was awarded",
            href: "#date-awarded-month"
          }
        ]
      }) }}

      {% call govukFieldset({
        legend: {
          text: "When was the qualification started and awarded?",
          isPageHeading: true,
          classes: "govuk-heading-xl govuk-!-margin-bottom-4"
        }
      }) %}

      <!-- Date started -->
      <div class="govuk-form-group govuk-form-group--error">
        <h2 class= "govuk-heading-s" style="margin-bottom: 10px">
          Date started
        </h2>
        <div id="date-started-format-hint" class="govuk-hint">
          Enter the date the qualification was started so we can establish which criteria the qualification was approved against. For example 9 2013
        </div>

        <span id="date-started-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          Enter the month and year that the qualification was started
        </span>

        <div class="govuk-date-input" id="date-started">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-started-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors.dateStarted %} govuk-input--error {% endif %}" id="date-started-month" name="date-started-month" type="text" inputmode="numeric" value="{{ data['date-started-month'] }}" {% if errors.dateStarted %} aria-describedby="date-started-error" {% endif %}>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-started-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors.dateStarted %} govuk-input--error {% endif %}" id="date-started-year" name="date-started-year" type="text" inputmode="numeric" value="{{ data['date-started-year'] }}" {% if errors.dateStarted %} aria-describedby="date-started-error" {% endif %}>
            </div>
          </div>
        </div>
      </div>

      <!-- Date awarded -->
      <div class="govuk-form-group govuk-form-group--error">
        <h2 class= "govuk-heading-s" style="margin-bottom: 10px">
          Date awarded
        </h2>
        <div id="date-awarded-format-hint" class="govuk-hint">
          Enter the date the qualification was awarded -achieved or obtained- to determine if other requirements apply. For example 6 2015
        </div>

        <span id="date-awarded-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          Enter the month and year that the qualification was awarded
        </span>

        <div class="govuk-date-input" id="date-awarded">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-awarded-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors.dateAwarded %} govuk-input--error {% endif %}" id="date-awarded-month" name="date-awarded-month" type="text" inputmode="numeric" value="{{ data['date-awarded-month'] }}" {% if errors.dateAwarded %} aria-describedby="date-awarded-error" {% endif %}>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="date-awarded-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors.dateAwarded %} govuk-input--error {% endif %}" id="date-awarded-year" name="date-awarded-year" type="text" inputmode="numeric" value="{{ data['date-awarded-year'] }}" {% if errors.dateAwarded %} aria-describedby="date-awarded-error" {% endif %}>
            </div>
          </div>
        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      {% endcall %}

    </form>

  </div>
</div>

{% endblock %}
