{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <span class="govuk-caption-l gem-c-title__context">Prototypes</span>
    <h1 class="govuk-heading-m">
      {{ serviceName }}
    </h1>
    
    <h2 class="govuk-heading-s">Beta</h2>
    <span class="govuk-caption-m gem-c-title__context">Feb 2024</span>
    <ul>
      <li><a href="current/r1/">Route 1</a></li>
      <li><a href="current/r2/">Route 2</a></li>
    </ul>

    <h2 class="govuk-heading-s">Alpha</h2>
    <span class="govuk-caption-m gem-c-title__context">December 2023</span>
    <ul>
      <li><a href="alpha/">Research prototype</a></li>
    </ul>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
