{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to select the qualification",
  href: "/current/r16/search-results"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form class="form" action="confirm-post-236" method="post">
      <input type="hidden" name="redirect" value="eyq-236" />
      {# Q1 #}
      <input type="hidden" name="awarding-location" value="{{data['awarding-location']}}" />
      {# Q2 #}
      <input type="hidden" name="date-started-month" value="{{data['date-started-month']}}" />
      <input type="hidden" name="date-started-year" value="{{data['date-started-year']}}" />
      <input type="hidden" name="date-awarded-month" value="{{data['date-awarded-month']}}" />
      <input type="hidden" name="date-awarded-year" value="{{data['date-awarded-year']}}" />
      {# Q3 #}
      <input type="hidden" name="qualification-level" value="{{data['qualification-level']}}" />
      {# Q4 #}
      <input type="hidden" name="awarding-organisation" value="{{data['awarding-organisation']}}" />
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-10">
        Confirm qualification
      </h1>
      <p class="govuk-body">
        Review the qualification details are correct before confirming the qualification.
      </p>

      {% if data['awarding-organisation'] == 'any' %}
        {% set awardingOrganisationText = 'Various awarding organisations' %}
      {% else %}
        {% set awardingOrganisationText = data['awarding-organisation'] %}
      {% endif %}

      {{ govukSummaryList({
        rows: [

        {
            key: {
              text: "Qualification"
            },
            value: {
              text: "IAO Level 3 Diploma In Early Learning and Childcare (Early Years Educator)"
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Qualification level"
            },
            value: {
              text: data['qualification-level']
            },
            actions: {

            }
          }
          ,
          {
            key: {
              text: "Awarding organisation"
            },
            value: {
              text: awardingOrganisationText
            },
            actions: {

            }
          }
        ]
      }) }}

      {{ govukRadios({
          name: "yes-no",
          value: data['yes-no'],
          fieldset: {
            legend: {
              text: "Is this the qualification you are looking for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No, select another qualification"
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "Your result is dependent on the accuracy of the information you have provided.",
          iconFallbackText: "Warning"
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
