{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName="Documents" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l gem-c-title__context">Documents</span>
    <h2 class="govuk-heading-m">Certificates</h2>
    <ul>
    <li><a href="../public/downloads/r4-certificate-ncfecache-eyworkforce-eye.pdf" target="_blank">NCFE Level 3 Early Years Workforce</a></li>
    <li><a href="../public/downloads/r4-certificate-l6-not-qts-2017.pdf" target="_blank">University of Buxton Level 6</a></li>
    </ul>

    <!--
    <li><a href="../public/downloads/certificate-l6-not-qts-2015.pdf" target="_blank">University of Buxton Level 6</a></li>
    <li><a href="../public/downloads/certificate-ncfe-cache-l3-kop.pdf" target="_blank">NCFE CACHE Level 3 Knowledge Only Pathway</a></li>
    <li><a href="../public/downloads/certificate-ncfe-cache-l3-eye.pdf" target="_blank">NCFE CACHE Level 3 Early Years Educator</a></li>
    <li><a href="../public/downloads/certificate-diploma-for-the-children-and-young-peoples-workforce.pdf" target="_blank">Workforce Level 3</a></li>
    -->

    <!--

    <h2 class="govuk-heading-m">
      CV
    </h2>
    <div>
        <img src="../public/images/certficate-l3-cache-children-young-peoples-workforce.png" alt="Samia Moss CV Example" width="100%" />
    </div> -->
  </div>
</div>

{% endblock %}
