{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <span class="govuk-caption-l gem-c-title__context">Prototypes</span>
    <h1 class="govuk-heading-m">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-s">Beta</h2>
    <span class="govuk-caption-m gem-c-title__context">May 2024</span>
    <ul>
      <li><a href="current/r10/start">Round 6 UR</a></li>
      <li><a href="current/r9/start">Round 5 UR</a></li>
    </ul>

    <span class="govuk-caption-m gem-c-title__context">April 2024</span>
    <ul>
      <li><a href="current/r8/start">Round 4 UR</a></li>
      <li><a href="current/r7/start">Round 3 UR</a></li>
    </ul>

    <span class="govuk-caption-m gem-c-title__context">March 2024</span>
    <ul>
      <li><a href="current/r6/start">Search v2</a></li>
      <li><a href="current/r3/start">Search</a></li>
      <li><a href="current/r4/start">Questions 1</a></li>
      <li><a href="current/r5/start">Questions 2</a></li>
    </ul>

    <span class="govuk-caption-m gem-c-title__context">February 2024</span>
    <ul>
      <li><a href="current/r1/start">Route 1</a></li>
      <li><a href="current/r2/start">Route 2</a></li>
    </ul>

    <h2 class="govuk-heading-s">Alpha</h2>
    <span class="govuk-caption-m gem-c-title__context">December 2023</span>
    <ul>
      <li><a href="alpha/">Research prototype</a></li>
    </ul>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
