{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div style="display: flex; flex-direction: row; justify-content: space-between;">
  <div style="padding: 0;" class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl" style="margin: 0px 0px 60px;">
      Early years qualifications prototypes
    </h1>

    <!-- Table of contents -->
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">
            Version
          </th>
          <th scope="col" class="govuk-table__header">
            Status
          </th>
          <th scope="col" class="govuk-table__header">
            Notes
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r16/start">r16</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange">
              Design done
            </strong>
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-body">
              This version will be tested with early years practitioners for the first time.
            </p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r15/start">r15</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell">
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/doc2.aspx?sourcedoc=%7BF01AB2E4-3982-489F-9F32-A250E8C025F2%7D&file=Round%2011%20report.pptx&action=edit&mobileredirect=true&DefaultItemOpen=1" target="_blank">UR round 11 report</a> <br> 
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>experienced-based route</li>
            <li>early years initial teacher training route</li>
            <li>ratio requirements based on award date</li>
          </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r14/start">r14</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B60D20D04-B259-4680-9F60-776B51E46C1B%7D&file=Round%2010%20Report.pptx&action=edit&mobileredirect=true" target="_blank">UR round 10 report</a> <br>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>new check your answers page</li>
            <li>new design of the select a qualification page</li>
            <li>reduced width in sections of the qualification check page</li>
          </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r13/start">r13</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/s/Vulnerablechildrenandfamiliesportfolio/EQM1BA1bZmhKlhd1Rvb5bGoBOHIh8sN-diDkZMybbw7Www?e=ZCiRXo" target="_blank">UR round 9 report</a> <br>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>added date awarded question</li>
              <li>new if you cannot find the qualification section</li>
              <li>new design of the qualification result page</li>
              <li>minor content changes</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r12/start">r12</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B4EDCB598-2CE4-4AD9-9A1B-25ACB562313A%7D&file=Round%207%20Report%20.pptx&action=edit&mobileredirect=true" target="_blank">UR round 7 report</a> <br>
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B1676CC5F-1741-49E3-B740-52CF6F20B143%7D&file=Accessibility%20research%20report.pptx&action=edit&mobileredirect=true" target="_blank">Accessibility research report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>changed level 6 journey</li>
              <li>added new QTS, EYTS and EYPS journey</li>
              <li>minor content changes</li>
              <li>option to clear their search</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r11/start">r11</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B53E19E3B-750D-477C-9B52-DDDEB4EF912A%7D&file=Round%206%20-%20UR%20Playback.pptx&action=edit&mobileredirect=true" target="_blank">UR round 6 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>one option per location to answer where was the qualification awarded question</li>
              <li>explanation of why the start date is important</li>
              <li>examples of Level 6 qualifications</li>
              <li>changes on how the qualifications found are shown</li>
              <li>one requirement question per page and a check your answers page</li>
              <li>changes on the qualification result page</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r10/start">r10</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B0B43C9FC-D920-4DE6-B434-4A39C061F260%7D&file=Round%205%20-%20UR%20Playback&Report.pptx=&action=edit&mobileredirect=true" target="_blank">UR round 5 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>changes on how users answer to when was the qualification started question</li>
              <li>changes on how users answer to what is the awarding organisation question if they can not find the organisation on the list</li>
              <li>minor content changes, including making backlinks specific</li>
              <li>error messages</li>
              <li>new confirm qualification page</li>
              <li>changes on the page styling to GOV.UK</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r9/start">r9</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange">
              Design done
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <p class="govuk-body">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>same journey as in version r8 but now users must select where the qualification was awarded and a specific qualification level</li>
            </ul>
            <p>This iteration was not tested with users.</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r8/start">r8</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B6722EC8B-91B7-4E1A-9998-3DE5A841B14A%7D&file=Round%204%20-%20UR%20Playback&Report.pptx=&action=edit&mobileredirect=true" target="_blank">UR round 4 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>questions about where the qualification was awarded, when it started, what its level is and the awarding organisation</li>
              <li>redesigned results page</li>
              <li>new page for checking the qualification's additional requirements</li>
              <li>updated qualification result page</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r7/start">r7</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <p>A report has not been produced yet.</p>
            <p class="govuk-body">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a single page for searching and displaying the matching results, with a field to enter the qualification name and qualification level and awarding body filters</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r6/start">r6</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7BFEF3FFB9-2A14-488D-95E8-8D4541866CA7%7D&file=EY%20Quals%20UR%20beta%20round%202%20findings.pptx&action=edit&mobileredirect=true" target="_blank">UR round 2 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>field to enter the qualification name</li>
              <li>search page displaying the matching results as links with the qualification details under the name and level and awarding body filters</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r5/start">r5</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7BFEF3FFB9-2A14-488D-95E8-8D4541866CA7%7D&file=EY%20Quals%20UR%20beta%20round%202%20findings.pptx&action=edit&mobileredirect=true" target="_blank">UR round 2 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>same journey as in r4 but with a different qualification</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r4/start">r4</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7BFEF3FFB9-2A14-488D-95E8-8D4541866CA7%7D&file=EY%20Quals%20UR%20beta%20round%202%20findings.pptx&action=edit&mobileredirect=true" target="_blank">UR round 2 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>question about the qualification level from 2 to 6, and with an option to show all levels</li>
              <li>question about the awarding organisation</li>
              <li>page with the matching qualifications</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r3/start">r3</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7BFEF3FFB9-2A14-488D-95E8-8D4541866CA7%7D&file=EY%20Quals%20UR%20beta%20round%202%20findings.pptx&action=edit&mobileredirect=true" target="_blank">UR round 2 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>minor content changes</li>
              <li>field to enter the qualification name</li>
              <li>search page displaying the matching results as links and qualification level and awarding body filters on the left side</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r2/start">r2</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B0DB0BB0D-68FD-460E-B29E-035C68A92D9A%7D&file=EY%20Quals%20UR%20Beta%20round%201%20findings.pptx&action=edit&mobileredirect=true" target="_blank">UR round 1 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>questions about the start date, level, and awarding body of the qualification</li>
              <li>page to select the qualification</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 
            <a href="current/r1/start">r1</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Research complete
            </strong>
          </td>
          <td class="govuk-table__cell"> 
            <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7B0DB0BB0D-68FD-460E-B29E-035C68A92D9A%7D&file=EY%20Quals%20UR%20Beta%20round%201%20findings.pptx&action=edit&mobileredirect=true" target="_blank">UR round 1 report</a>
            <p class="govuk-body" style="margin-top: 25px;">
              This iteration includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>field to enter the qualification name</li>
              <li>option to apply filters to narrow the options down</li>
              <li>qualification result page</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Side navigation -->
  <div style="padding: 0;" class="govuk-grid-column-one-quarter">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Useful links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <a href="https://educationgovuk.sharepoint.com.mcas.ms/:p:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/Doc.aspx?sourcedoc=%7BE003AA30-CC6C-460A-A2B6-A03F6EA8DF11%7D&file=Pilot%20Report.pptx&action=edit&mobileredirect=true" target="_blank">5-week pilot research report</a>
        </p>
      </nav>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <span>
            <a href="https://www.figma.com/design/h1uWad97GS2UeyLKQMVKek/Check-an-Early-Years-Qualification?node-id=37566-16625&t=GG5JWp1zWnILMmWf-1" target="_blank">Figma file</a>
            (with design iterations documented)
          </span>
        </p>
      </nav>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <a href="https://educationgovuk.sharepoint.com.mcas.ms/:x:/r/sites/Vulnerablechildrenandfamiliesportfolio/_layouts/15/doc2.aspx?sourcedoc=%7B6d67e885-0a54-4386-ad6b-43e77c10259e%7D&action=edit" target="_blank">High-level design decisions log</a>
        </p>
      </nav>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <a href="https://design.education.gov.uk/our-work/project/check-an-early-years-qualification" target="_blank">Our work page</a>
        </p>
      </nav>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <a href="https://design-histories.education.gov.uk/check-an-early-years-qualification" target="_blank">Design histories</a>
        </p>
      </nav>
      <h2 class="govuk-heading-m" id="subsection-title">
        Blog posts
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <a href="https://dfedigital.blog.gov.uk/2024/09/11/mastering-design-iterations-the-power-of-documentation/" target="_blank">Mastering design iterations: The power of documentation</a>
        </p>
      </nav>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p class="app-related__list-item-description">
          <a href="https://dfedigital.blog.gov.uk/2024/09/02/making-use-of-the-department-for-education-accessibility-experience-lab-in-sheffield/" target="_blank">Making use of the Department for Education accessibility experience lab in Sheffield
          </a>
        </p>
      </nav>
    </aside>
  </div>
</div>
  

{% endblock %}
