{% extends "layouts/dfe-main.html" %}

{% block pageTitle %}
  Search results for 'NFCE' – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/current/r9/q1"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="q3" method="post">

      <input type="hidden" name="awarding-location" value="{{data['awarding-location']}}" />
      {{ govukRadios({
          name: "awarding-date",
          value: data['awarding-date'],
          fieldset: {
            legend: {
              text: "When was the qualification started?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "before",
              text: "Before September 2014"
            },
            {
              value: "after",
              text: "On or after 1 September 2014"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
