{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="/node_modules/dfe-frontend-alpha/dist/dfefrontend.min.js"></script>

  <script>
    function expandDetailsAndPrint() {
      // Get all details elements
      const detailsElements = document.querySelectorAll('details');
      
      // Open each details element
      detailsElements.forEach(details => {
        details.open = true;
      });
      
      // Trigger print dialog
      window.print();
    }
  </script>
{% endblock %}