{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
  {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Check an early years qualification",
    serviceUrl: "#"
  }) }}

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/node_modules/dfe-frontend-alpha/dist/dfefrontend.min.js"></script>

  <script>
    function expandDetailsAndPrint() {
      // Get all details elements
      const detailsElements = document.querySelectorAll('details');
      
      // Open each details element
      detailsElements.forEach(details => {
        details.open = true;
      });
      
      // Trigger print dialog
      window.print();
    }
  </script>
{% endblock %}